.paragraph {
    font-family: "Montserrat";
    font-weight: 500;
    color: var(--dark);
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .paragraph__lg {
    font-size: 20px;
    line-height: 1.6;
  }
  
  .paragraph__md {
    font-size: 16px;
    line-height: 1.6;
  }
  
  .paragraph__sm {
    font-size: 14px;
    line-height: 1.5;
  }
  
  @media (max-width: 768px) {
    .paragraph__lg {
      font-size: 16px;
    }
    .paragraph__md {
      font-size: 14px;
    }
    .paragraph__sm {
      font-size: 13px;
    }
  }
  