.navContainer {
  width: 100%;
  height: 100px;
  background-color: var(--white-1);
  display: flex;
  align-items: center;
}

.leftDiv {
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rightDiv {
  right: 8px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

@media (max-width: 768px) {
  .rightDiv {
    gap: 5px;
  }
}
